#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Protonup-rs
Exec=sh -c 'echo "Downloading and installing Protonup-rs" ;rm -f /tmp/protonup-rs-linux-amd64.tar.gz; if curl -S -s -L -O --output-dir /tmp/ --connect-timeout 60 https://github.com/auyer/Protonup-rs/releases/latest/download/protonup-rs-linux-amd64.tar.gz ; then tar -xvzf /tmp/protonup-rs-linux-amd64.tar.gz -C /tmp/ && mv /tmp/protonup-rs ${HOME}/.local/bin/ && [[ "$SHELL" == *"bash"* ]] && [ "$SHELL" = "/bin/bash" ] && echo "export PATH=$PATH:${HOME}/.local/bin" >> ${HOME}/.bashrc || ([ "$SHELL" = "/bin/zsh" ] && echo "export PATH=$PATH:${HOME}/.local/bin" >> ${HOME}/.zshrc ) && rm /tmp/protonup-rs-linux-amd64.tar.gz ; else echo "Something went wrong, please report this if it is a bug"; read; fi'
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
