[
    (
        name: "GEProton",
        forge: GitHub,
        repository_account: "GloriousEggroll",
        repository_name: "proton-ge-custom",
        tool_type: WineBased,
        compatible_applications: [Steam, Lutris],
    ),
    (
        name: "WineGE",
        forge: GitHub,
        repository_account: "GloriousEggroll",
        repository_name: "wine-ge-custom",
        tool_type: WineBased,
        compatible_applications: [Steam, Lutris],
        file_name_replacement: Some(("Proton","Wine")),
    ),
    (
        name: "Luxtorpeda",
        forge: GitHub,
        repository_account: "luxtorpeda-dev",
        repository_name: "luxtorpeda",
        tool_type: Runtime,
        compatible_applications: [Steam],
        file_name_template: Some("Luxtorpeda-{version}")
    ),
    (
        name: "Boxtron",
        forge: GitHub,
        repository_account: "dreamer",
        repository_name: "boxtron",
        tool_type: Runtime,
        compatible_applications: [Steam],
        file_name_template: Some("Boxtron-{version}")
    ),
    (
        name: "Lutris-VKD3D",
        forge: GitHub,
        repository_account: "lutris",
        repository_name: "vkd3d",
	    tool_type: Runtime,
        compatible_applications: [Lutris],
        file_name_replacement: Some(("Proton","Wine")),
	    subfolder: Some("runtime"),
        file_name_template: Some("VKD3D-Lutris-{version}")
    ),
]
