[package]
name = "protonup-rs"
version = "0.8.0"
edition = "2021"
authors = ["Auyer <auyer@rcpassos.me>"]
repository = "https://github.com/auyer/protonup-rs"
license = "Apache-2.0"
readme = "../README.md"

description = "TUI Program for Custom Proton Download and installation written in rust"

[dependencies]

anyhow = "1.0.83"
arcstr = "1.2.0"
futures-util = "0.3"
# Use this to use the local changes in libprotonup.
libprotonup = { path = "../libprotonup" }
# This is necessary to publish to crates.io
# libprotonup = { version = "0.8.0" }
inquire = { version = "0.7", default-features = false, features = ["termion"] }
indicatif = { version = "0.17", features = [
    "improved_unicode",
    "unicode-segmentation",
    "tokio"
] }
tempfile = "3.10.1"
tokio = { version = "1.37", features = ["macros", "rt-multi-thread"] }
clap = { version = "4.5", features = ["derive"] }
