[package]
name = "protonup-rs"
version = "0.6.0"
edition = "2021"
authors = ["Auyer <auyer@rcpassos.me>"]
repository = "https://github.com/auyer/protonup-rs"
license = "Apache-2.0"
readme = "../README.md"

description = "TUI Program for Custom Proton Download and installation written in rust"

[dependencies]

# Use this to use the local changes in libprotonup.
libprotonup = { path = "../libprotonup" }
# This is necessary to publish to crates.io
# libprotonup = { version = "0.6.0" }
inquire = { version = "0.6", default-features = false, features = ["termion"] }
indicatif = { version = "0.17", features = [
  "improved_unicode",
  "unicode-segmentation",
] }
tokio = { version = "1.35", features = ["macros", "rt-multi-thread"] }
clap = { version = "4.4", features = ["derive"] }
