[package]
name = "protonup-rs"
version = "0.8.2"
edition = "2021"
authors = ["Auyer <auyer@rcpassos.me>"]
repository = "https://github.com/auyer/protonup-rs"
license = "Apache-2.0"
readme = "../README.md"

description = "TUI Program for Custom Proton Download and installation written in rust"

[package.metadata.deb]
maintainer = "Auyer <auyer@rcpassos.me>"
copyright = "2024, Auyer <auyer@rcpassos.me>"
extended-description = "TUI Program used to download, install and manage custom Proton/Wine distributions for Steam and Lutris."
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
    ["target/release/protonup-rs", "usr/bin/", "755"],
    ["../README.md", "usr/share/doc/protonup-rs/README", "644"],
]

[dependencies]

anyhow = "1.0"
arcstr = "1.2"
futures-util = "0.3"
libprotonup = { path = "../libprotonup", version = "0.8.2" }
inquire = { version = "0.7", default-features = false, features = ["termion"] }
indicatif = { version = "0.17", features = [
    "improved_unicode",
    "unicode-segmentation",
    "tokio"
] }
tempfile = "3.10"
tokio = { version = "1.38", features = ["macros", "rt-multi-thread"] }
clap = { version = "4.5", features = ["derive"] }
