[package]
name = "libprotonup"
version = "0.6.0"
edition = "2021"
authors = ["Auyer <auyer@rcpassos.me>"]
repository = "https://github.com/auyer/protonup-rs"
license = "Apache-2.0"
readme = "../README.md"

description = "Library for Custom Proton Download and installation"

[dependencies]
anyhow = "1.0"
dirs = "5.0"
flate2 = "1.0"
futures-util = "0.3"
hex = "0.4"
hex-literal = "0.4"
reqwest = { version = "0.11", default-features = false, features = [
  "rustls-tls",
  "stream",
  "rustls",
  "json",
] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.10"
structopt = "0.3"
tar = "0.4"
xz2 = "0.1"

[dev-dependencies]
tokio = { version = "1.35", features = ["macros", "rt"] }
