name: Test

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

permissions: read-all

jobs:
  cargo_test:
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Update local toolchain
        run: |
          rustup update
          rustup install stable

      - name: Test
        run: |
          cargo check
          cargo test --all

      - name: Build
        run: |
          cargo build --release
